---
---

@import "{{ site.theme }}";
.main-content .tags {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.main-content ul li {
    display: inline-block;
}

.main-content ul li a {
    background-color: #777;
    color: #fff;
    padding: 7px 10px;
    margin: 0 4px 0 0;
    border-radius: 10px;
    font-size: .8em;
}

.article-footer {
    background: #eee;
    padding: 10px;
}

.article-footer span {
    display: inline-block;
    margin-bottom: 5px;
    font-style: italic;
    font-size: .9em;
}

.page-header h1 a {
    color: #fff;
}
